
*.xml

*.iml

.ipynb_checkpoints/

udacity/.ipynb_checkpoints/

udacity/notMNIST.pickle

*.pkl

checkpoint

data-1999

data-999

*.meta

*.gz

data/events.out.tfevents.1468592087.chris-iMac.local

.venv/

*.pyc

.tags

.tags1

.idea/
/.venv/
